@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
.main-wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto; }

.header {
  position: fixed;
  -webkit-box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .header__icon {
    position: absolute;
    top: 28px;
    right: 15px;
    display: none;
    text-decoration: none;
    color: #000; }

.nav-up {
  top: -10rem; }

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 2.5rem 5rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1340px; }
  .main-nav__text {
    color: #1D1C1C;
    font-size: 1.4rem;
    letter-spacing: 0.25px;
    line-height: 17px;
    display: none;
    position: absolute;
    top: 7px;
    left: -40px; }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .main-nav__item {
    position: relative;
    list-style: none;
    font-size: 1.4rem;
    letter-spacing: 0.22px;
    line-height: 19px;
    margin-right: 3rem; }
  .main-nav__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3); }
    .main-nav__link:hover {
      color: black;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .main-nav__link_menu {
      color: black; }
    .main-nav__link_active {
      color: black; }
  .main-nav__options {
    position: relative; }
    .main-nav__options .main-nav__item:nth-of-type(2):after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      top: 0;
      left: -15px;
      height: 19px;
      background-color: rgba(0, 0, 0, 0.3); }
  .main-nav__menu {
    margin-left: auto; }

.logo {
  margin-right: 3rem; }
  .logo a {
    display: block;
    text-decoration: none; }
  .logo__img {
    width: 196px;
    height: 40px; }

.btn {
  border-radius: 4px;
  border: none;
  padding: 1.5rem 0;
  color: #fff;
  background-color: #8DC33E;
  width: 180px;
  text-align: center; }
  .btn:hover {
    cursor: pointer; }
  .btn__main-nav {
    font-family: roboto;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2px;
    line-height: 20px;
    width: 180px; }
  .btn__main-info {
    font-size: 1.5rem;
    letter-spacing: 0.2px;
    line-height: 20px; }

.main-info {
  background-image: url(../img/about-us.png);
  background-position: 50% 50%;
  background-repeat: no-repeat; }
  .main-info__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 89px 0 50px 0;
    width: 600px; }
  .main-info__header {
    font-size: 3.5rem;
    letter-spacing: 0.23px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 14px; }
  .main-info__textbox {
    opacity: 0.9;
    color: #64697A;
    font-size: 1.8rem;
    letter-spacing: 0.23px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 69px; }

.situations {
  margin-top: 60px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.5)), to(rgba(235, 235, 235, 0.5)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0, rgba(235, 235, 235, 0.5) 100%); }
  .situations__header {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 0.2px;
    line-height: 34px;
    margin-bottom: 41px; }
  .situations__wrapper {
    width: 960px;
    margin: 0 auto; }
  .situations__menu {
    -webkit-box-shadow: inset 0 -1px 0 0 #eaeaea;
    box-shadow: inset 0 -1px 0 0 #eaeaea;
    overflow-x: auto; }
  .situations__item {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #9297A7;
    font-size: 1.4rem;
    line-height: 19px;
    text-align: center;
    margin-right: 75px;
    padding-bottom: 17px; }
    .situations__item:hover {
      cursor: pointer; }
      .situations__item:hover:after {
        content: "";
        background: rgba(138, 197, 61, 0.438);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%; }
    .situations__item:after {
      content: "";
      background: #89C53D;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 0px; }
    .situations__item_active:after {
      content: " ";
      background: #89C53D;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      -webkit-transition: all 0.3s;
      transition: all 0.3s; }

.situation {
  padding: 68px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .situation_hidden {
    display: none; }
  .situation__info {
    width: 695px; }
  .situation__about {
    font-size: 2rem;
    line-height: 32px;
    margin-bottom: 20px; }
  .situation__problems {
    list-style: none; }
  .situation__problem {
    display: inline;
    margin-right: 25px;
    opacity: 0.5;
    font-family: Roboto;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 31px; }

.work-info {
  margin-top: 60px;
  padding-bottom: 60px;
  -webkit-box-shadow: inset 0 -1px 0 0 #eaeaea;
  box-shadow: inset 0 -1px 0 0 #eaeaea; }
  .work-info__header {
    font-size: 2.5rem;
    letter-spacing: 0.2px;
    line-height: 34px;
    text-align: center; }
  .work-info__name {
    font-size: 2rem;
    letter-spacing: 0.33px;
    line-height: 32px;
    margin-bottom: 19px; }
  .work-info__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 60px; }
  .work-info__info {
    max-width: 520px; }
  .work-info__text {
    opacity: 0.6;
    color: #1D1C1C;
    font-size: 1.4rem;
    line-height: 24px; }
  .work-info__carousel :nth-of-type(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }

.staff {
  margin-top: 60px;
  padding-bottom: 60px;
  -webkit-box-shadow: inset 0 -1px 0 0 #eaeaea;
  box-shadow: inset 0 -1px 0 0 #eaeaea; }
  .staff__header {
    font-size: 2.5rem;
    letter-spacing: 0.17px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 38px; }
  .staff__wrapper {
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .staff__card {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 29px; }
  .staff__photo {
    margin: 0 auto;
    margin-bottom: 20px; }
  .staff__position {
    color: #1D1C1C;
    font-size: 1.4rem;
    letter-spacing: 0.25px;
    line-height: 30px;
    text-align: center; }
  .staff__name {
    font-size: 1.8rem;
    letter-spacing: 0.3px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 14px; }
  .staff__info {
    font-size: 1.2rem;
    letter-spacing: 0.22px;
    line-height: 23px;
    text-align: center;
    margin: 0 auto; }

.blog {
  padding-top: 60px;
  padding-bottom: 55px; }
  .blog__wrapper {
    position: relative;
    max-width: 960px;
    margin: 0 auto; }
  .blog__card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .blog__header {
    font-size: 2.5rem;
    letter-spacing: 0.17px;
    line-height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 39px; }
  .blog__all {
    font-size: 1.6rem;
    letter-spacing: 0.11px;
    line-height: 22px; }
  .blog__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 478px; }
  .blog__name {
    font-size: 1.7rem;
    line-height: 20px;
    max-width: 280px;
    margin-bottom: 15px; }
  .blog__text {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 15px;
    max-width: 270px; }

.companies {
  padding-top: 60px;
  padding-bottom: 85px;
  background-color: #F7F7F7; }
  .companies__header {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 43px; }
  .companies__img-collection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.footer {
  padding-top: 47px; }
  .footer__menu, .footer__copyright {
    margin-bottom: 20px; }
  .footer__menu {
    display: block;
    float: left; }
  .footer__info {
    display: block;
    float: left; }
  .footer__social {
    float: left;
    position: relative;
    top: -40px;
    right: -100px; }
  .footer__payment {
    float: right;
    position: relative;
    top: -40px; }
  .footer__text, .footer__text-link, .footer__social-header, .footer__payment-header {
    opacity: 0.6;
    font-size: 1.4rem;
    letter-spacing: 0.25px;
    line-height: 17px; }
  .footer__t {
    position: relative;
    top: -5px;
    font-size: 1.4rem;
    letter-spacing: 0.31px;
    line-height: 19px; }
  .footer__text {
    display: inline-block;
    margin-right: 15px; }
    .footer__text-link {
      text-decoration: none;
      color: #000; }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .footer__item {
    position: relative;
    list-style: none;
    font-size: 1.4rem;
    letter-spacing: 0.22px;
    line-height: 19px;
    margin-right: 3rem; }
  .footer__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3); }
    .footer__link:hover {
      color: black;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .footer__link_menu {
      color: black; }
    .footer__link_active {
      color: black; }
  .footer__social-links, .footer__payment-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 13px; }
    .footer__social-links a, .footer__payment-links a {
      position: relative;
      display: inline-block; }
      .footer__social-links a .fb-img, .footer__social-links a .vk-img, .footer__social-links a .insta-img, .footer__payment-links a .fb-img, .footer__payment-links a .vk-img, .footer__payment-links a .insta-img {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99; }
      .footer__social-links a img, .footer__payment-links a img {
        vertical-align: middle; }
  .footer__social-links a:hover .fb-img, .footer__social-links a:hover .vk-img, .footer__social-links a:hover .insta-img {
    display: inline; }

#map {
  width: 100%;
  height: 450px;
  background-color: grey; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 450px;
  overflow: hidden; }
  .content__text {
    width: 240px;
    font-size: 1.4rem;
    letter-spacing: 0.23px;
    line-height: 24px;
    position: relative;
    top: 20px; }

.connection {
  padding-top: 60px;
  padding-bottom: 77px; }
  .connection__wrapper {
    width: 642px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto; }
  .connection__header {
    font-size: 2.5rem;
    letter-spacing: 0.2px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 45px; }
  .connection__link {
    text-decoration: none;
    color: #000;
    font-size: 2.4rem;
    letter-spacing: 0.53px;
    line-height: 33px; }
  .connection__text {
    font-size: 1.6rem;
    letter-spacing: 0.36px;
    line-height: 22px; }
  .connection__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 238px; }
    .connection__card:last-child {
      width: 259px; }
  .connection__direct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.contacts-social {
  padding-bottom: 70px; }
  .contacts-social__header {
    font-size: 2.5rem;
    letter-spacing: 0.2px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 41px; }
  .contacts-social__btns {
    width: 505px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto; }

.requisites {
  padding-bottom: 83px;
  -webkit-box-shadow: inset 0 -1px 0 0 #eaeaea;
  box-shadow: inset 0 -1px 0 0 #eaeaea; }
  .requisites__header {
    font-size: 2.5rem;
    letter-spacing: 0.2px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 24px; }
  .requisites__list {
    list-style: none;
    width: 637px;
    font-size: 1.6rem;
    letter-spacing: 0.36px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto; }

.questions {
  -webkit-box-shadow: inset 0 -1px 0 0 #eaeaea;
  box-shadow: inset 0 -1px 0 0 #eaeaea; }
  .questions__wrapper {
    width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto; }
    .questions__wrapper-menu {
      width: 852px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 auto; }
  .questions__header {
    margin-top: 71px;
    margin-bottom: 31px;
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 29px;
    text-align: center; }
  .questions__description {
    margin-bottom: 41px;
    color: #1D1C1C;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.29px;
    line-height: 30px;
    text-align: center; }
  .questions__item {
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: 0.25px;
    line-height: 30px;
    text-align: center;
    padding: 5px;
    border: 1px solid transparent;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    cursor: pointer; }
    .questions__item_active, .questions__item:hover {
      color: #fff;
      border: 1px solid #8DC33E;
      border-radius: 15px;
      background-color: #8DC33E; }
  .questions__menu {
    width: 960px;
    margin-bottom: 39px; }
  .questions__info {
    margin-top: 47px;
    margin-bottom: 72px;
    width: 695px;
    font-family: Roboto;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.29px;
    line-height: 30px;
    text-align: center; }

.questions-box_hidden {
  display: none; }

.questions-box__header {
  position: relative;
  font-family: Roboto;
  font-size: 1.6rem;
  letter-spacing: 0.36px;
  line-height: 19px;
  padding: 20px 35px;
  background-color: #F4F4F4;
  cursor: pointer; }
  .questions-box__header:after {
    content: " ";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    top: 25px;
    right: 30px;
    border: 1px solid #000;
    border-left: none;
    border-top: none;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }

.questions-box__dropdown {
  overflow: hidden;
  border: 1px solid #F4F4F4;
  max-height: 0;
  -webkit-transition: max-height 1.5s;
  transition: max-height 1.5s; }

.questions-box__text {
  font-size: 1.4rem;
  letter-spacing: 0.33px;
  line-height: 20px;
  padding: 23px 40px 27px 35px; }

.questions-box__card {
  margin-bottom: 15px; }
  .questions-box__card:last-child {
    margin-bottom: unset; }
  .questions-box__card_active .questions-box__dropdown {
    max-height: 500px; }
  .questions-box__card_active .questions-box__header:after {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg); }

html {
  font-size: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 300px;
  height: 100vh;
  overflow-x: hidden; }

main {
  z-index: 1;
  padding-top: 100px; }

.overflow-wrapper {
  overflow-x: hidden; }

@media screen and (max-width: 1160px) {
  .main-nav__menu .main-nav__item {
    margin-right: 10px; }
  .btn__main-nav {
    width: 150px; } }

@media screen and (max-width: 1020px) {
  .main-wrapper {
    width: 480px; }
  .main-info {
    background-size: cover; }
  .main-nav__options, .main-nav__menu, .main-nav .btn__main-nav {
    display: none; }
  .main-nav__text {
    display: inline-block; }
  .main-nav__list {
    margin-right: 4px; }
  .logo__img {
    width: 180px;
    height: auto; }
  .header__icon {
    display: block; }
  main {
    padding-top: 88px; }
  .main-nav.responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .main-nav.responsive .main-nav__options, .main-nav.responsive .main-nav__menu {
      display: block;
      margin-bottom: 15px; }
    .main-nav.responsive .main-nav__menu {
      margin-left: unset; }
    .main-nav.responsive .logo {
      margin-bottom: 15px;
      margin-right: 2rem; }
    .main-nav.responsive .btn__main-nav {
      display: block; }
  .situations__wrapper {
    position: relative;
    right: -70px; }
  .situation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .situation__img {
      margin-bottom: 10px; }
    .situation__info {
      width: 400px; }
    .situation__problem {
      display: block;
      font-size: 1.4rem;
      letter-spacing: 0.19px;
      line-height: 24px;
      text-align: center; }
    .situation__about {
      font-size: 1.4rem;
      line-height: 24px;
      text-align: center; }
  .work-info__img {
    margin-bottom: 17px; }
    .work-info__img img {
      margin: 0 auto; }
  .work-info__name {
    text-align: center; }
  .work-info__text {
    text-align: center; }
  .staff__wrapper {
    width: 480px; }
  .staff__card {
    max-width: unset;
    margin-bottom: 29px; }
    .staff__card img {
      margin: 0 auto; }
  .staff__info {
    max-width: 280px;
    margin: 0 auto; }
  .blog {
    padding-bottom: 11px; }
    .blog__wrapper {
      width: 480px; }
    .blog__all {
      display: none; }
    .blog__title {
      margin: 0 auto; }
    .blog__card-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .blog__card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .blog__photo, .blog__info-wrapper {
      margin: 0 auto;
      text-align: center; }
    .blog__photo {
      margin-bottom: 15px; }
    .blog__text {
      margin-bottom: 39px; }
  .companies__img-collection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .companies__img {
    margin-bottom: 40px; }
    .companies__img:last-child {
      margin-bottom: 0; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__menu {
    display: unset;
    float: unset; }
  .footer__info {
    display: unset;
    float: unset; }
  .footer__social-header, .footer__payment-header {
    display: none; }
  .footer__social {
    float: unset;
    position: relative;
    top: unset;
    right: unset;
    margin-bottom: 42px; }
    .footer__social-links {
      width: 139px; }
  .footer__payment {
    float: unset;
    position: unset;
    top: unset;
    margin-bottom: 35px; }
    .footer__payment-links {
      width: 110px; }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer__list .footer__item {
      margin-bottom: 15.3px;
      margin-right: unset; }
      .footer__list .footer__item:last-child {
        margin-bottom: 0; }
  .footer__logo {
    margin-bottom: 30px; }
  .footer__copyright {
    text-align: center;
    width: 221px; }
  .footer__text {
    margin-right: unset;
    margin-bottom: 11px; }
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .footer__logo {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1; } }

@media screen and (max-width: 600px) {
  .logo__img {
    width: 157px; }
  .main-nav__item {
    font-size: 1.25rem; }
  .main-wrapper {
    width: 300px; }
  .main-info__wrapper {
    padding-top: 31px; }
  .main-info__textbox {
    font-size: 1.4rem;
    letter-spacing: 0.17px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    width: 280px; }
  .main-info__header {
    font-size: 2.25rem;
    letter-spacing: 0.16px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 60px; }
  .situations__wrapper {
    position: relative;
    right: -70px; }
  .situations__header {
    font-size: 1.8rem;
    letter-spacing: 0.14px;
    line-height: 22px;
    text-align: center;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 41px; }
  .situation__img img {
    width: 80px; }
  .situation__about {
    width: 267px;
    margin: 0 auto;
    margin-bottom: 18px; }
  .situation__problem {
    margin-right: unset; }
  .work-info__header {
    font-size: 2rem;
    letter-spacing: 0.16px;
    line-height: 24px; }
  .work-info__name {
    font-size: 1.6rem;
    letter-spacing: 0.27px;
    line-height: 32px; }
  .work-info__text {
    line-height: 22px; }
  .staff__wrapper {
    width: 300px; }
  .staff__header {
    font-size: 2rem;
    letter-spacing: 0.16px;
    line-height: 24px; }
  .staff__name {
    font-size: 1.6rem;
    letter-spacing: 0.27px;
    line-height: 32px; }
  .blog__wrapper {
    width: 300px; }
  .blog__info-wrapper {
    width: 255px; }
  .blog__text {
    font-size: 1.3rem;
    line-height: 16px;
    text-align: center; }
  .blog__card {
    width: 300px; }
  .blog__header {
    font-size: 2rem;
    letter-spacing: 0.16px;
    line-height: 24px;
    text-align: center; }
  .blog__name {
    font-size: 1.5rem;
    line-height: 18px;
    text-align: center; }
  .companies__header {
    font-size: 2rem;
    letter-spacing: 0.16px;
    line-height: 24px; } }

@media screen and (max-width: 700px) {
  #map {
    height: 400px; }
  .content {
    width: unset; }
    .content__img {
      display: none; }
    .content__text {
      position: relative;
      top: 0px;
      left: 5px; }
  .connection__header {
    font-size: 1.8rem;
    letter-spacing: 0.14px;
    line-height: 22px;
    text-align: center; }
  .connection__wrapper {
    width: 240px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .connection__link {
    font-size: 2rem;
    letter-spacing: 0.44px;
    line-height: 24px; }
  .connection__text {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.31px;
    line-height: 16px; }
  .connection__card {
    width: 218px;
    margin-bottom: 40px; }
    .connection__card:last-child {
      width: 223px;
      margin-bottom: unset; }
      .connection__card:last-child .connection__link {
        font-size: 18px;
        letter-spacing: 0.4px;
        line-height: 21px; }
      .connection__card:last-child img {
        margin-right: 40px; }
  .contacts-social {
    -webkit-box-shadow: inset 0 -1px 0 0 #eaeaea;
    box-shadow: inset 0 -1px 0 0 #eaeaea; }
    .contacts-social__btns {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 150px; }
    .contacts-social__link {
      margin-bottom: 20px; }
      .contacts-social__link:last-child {
        margin-bottom: unset; }
  .requisites {
    display: none; } }

@media screen and (max-width: 1000px) {
  .questions__wrapper {
    width: 600px; }
    .questions__wrapper-menu {
      width: 600px; }
  .questions__info {
    width: 584px; } }

@media screen and (max-width: 645px) {
  .questions__header {
    width: 223px;
    margin-top: 35px;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.14px;
    line-height: 21px;
    text-align: center; }
  .questions__description {
    width: 272px;
    font-size: 1.4rem;
    letter-spacing: 0.25px;
    line-height: 22px;
    text-align: center; }
  .questions__wrapper {
    width: 320px; }
    .questions__wrapper-menu {
      width: 320px; }
  .questions__info {
    display: none; } }
