@import './variables.scss';
@import 'fonts.scss';
@import './helpers/main-wrapper.scss';
@import './header/header.scss';
@import './main-nav/main-nav.scss';
@import './logo/logo.scss';
@import './btn/btn.scss';
@import './main-info/main-info.scss';
@import './situations/situations.scss';
@import './situations/situation/situation.scss';
@import './work-info/work-info.scss';
@import './staff/staff.scss';
@import './blog/blog.scss';
@import './companies/companies.scss';
@import './footer/footer.scss';

@import './map/map.scss';
@import './connection/connection.scss';
@import './contacts-social/contacts-social.scss';
@import './requisites/requisites.scss';

@import './questions/questions.scss';
@import './questions-box/questions-box.scss';

html {
    font-size: 10px;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 300px;
    height: 100vh;
    overflow-x: hidden;
}

main {
    z-index: 1;
    padding-top: 100px;
}

.overflow-wrapper {
    overflow-x:hidden;
}

@import './media-index.scss';
@import './media-contacts.scss';
@import './media-questions.scss';