#map {
  width: 100%;
  height: 450px;
  background-color: grey; }

.content {
  display: flex;
  justify-content: space-between;
  width: 450px;
  overflow: hidden; }
  .content__text {
    width: 240px;
    font-size: 1.4rem;
    letter-spacing: 0.23px;
    line-height: 24px;
    position: relative;
    top: 20px; }
