@media screen and (max-width: 1160px) {
  .main-nav__menu .main-nav__item {
    margin-right: 10px; }
  .btn__main-nav {
    width: 150px; } }

@media screen and (max-width: 1020px) {
  .main-wrapper {
    width: 480px; }
  .main-info {
    background-size: cover; }
  .main-nav__options, .main-nav__menu, .main-nav .btn__main-nav {
    display: none; }
  .main-nav__text {
    display: inline-block; }
  .main-nav__list {
    margin-right: 4px; }
  .logo__img {
    width: 180px;
    height: auto; }
  .header__icon {
    display: block; }
  main {
    padding-top: 88px; }
  .main-nav.responsive {
    flex-direction: column; }
    .main-nav.responsive .main-nav__options, .main-nav.responsive .main-nav__menu {
      display: block;
      margin-bottom: 15px; }
    .main-nav.responsive .main-nav__menu {
      margin-left: unset; }
    .main-nav.responsive .logo {
      margin-bottom: 15px;
      margin-right: 2rem; }
    .main-nav.responsive .btn__main-nav {
      display: block; }
  .situations__wrapper {
    position: relative;
    right: -70px; }
  .situation {
    flex-direction: column;
    align-items: center; }
    .situation__img {
      margin-bottom: 10px; }
    .situation__info {
      width: 400px; }
    .situation__problem {
      display: block;
      font-size: 1.4rem;
      letter-spacing: 0.19px;
      line-height: 24px;
      text-align: center; }
    .situation__about {
      font-size: 1.4rem;
      line-height: 24px;
      text-align: center; }
  .work-info__img {
    margin-bottom: 17px; }
    .work-info__img img {
      margin: 0 auto; }
  .work-info__name {
    text-align: center; }
  .work-info__text {
    text-align: center; }
  .staff__wrapper {
    width: 480px; }
  .staff__card {
    max-width: unset;
    margin-bottom: 29px; }
    .staff__card img {
      margin: 0 auto; }
  .staff__info {
    max-width: 280px;
    margin: 0 auto; }
  .blog {
    padding-bottom: 11px; }
    .blog__wrapper {
      width: 480px; }
    .blog__all {
      display: none; }
    .blog__title {
      margin: 0 auto; }
    .blog__card-wrapper {
      flex-direction: column; }
    .blog__card {
      flex-direction: column; }
    .blog__photo, .blog__info-wrapper {
      margin: 0 auto;
      text-align: center; }
    .blog__photo {
      margin-bottom: 15px; }
    .blog__text {
      margin-bottom: 39px; }
  .companies__img-collection {
    flex-direction: column;
    align-items: center; }
  .companies__img {
    margin-bottom: 40px; }
    .companies__img:last-child {
      margin-bottom: 0; }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center; }
  .footer__menu {
    display: unset;
    float: unset; }
  .footer__info {
    display: unset;
    float: unset; }
  .footer__social-header, .footer__payment-header {
    display: none; }
  .footer__social {
    float: unset;
    position: relative;
    top: unset;
    right: unset;
    margin-bottom: 42px; }
    .footer__social-links {
      width: 139px; }
  .footer__payment {
    float: unset;
    position: unset;
    top: unset;
    margin-bottom: 35px; }
    .footer__payment-links {
      width: 110px; }
  .footer__list {
    flex-direction: column;
    align-items: center; }
    .footer__list .footer__item {
      margin-bottom: 15.3px;
      margin-right: unset; }
      .footer__list .footer__item:last-child {
        margin-bottom: 0; }
  .footer__logo {
    margin-bottom: 30px; }
  .footer__copyright {
    text-align: center;
    width: 221px; }
  .footer__text {
    margin-right: unset;
    margin-bottom: 11px; }
  .footer__info {
    display: flex;
    flex-direction: column;
    order: 1;
    align-items: center; }
  .footer__logo {
    order: -1; } }

@media screen and (max-width: 600px) {
  .logo__img {
    width: 157px; }
  .main-nav__item {
    font-size: 1.25rem; }
  .main-wrapper {
    width: 300px; }
  .main-info__wrapper {
    padding-top: 31px; }
  .main-info__textbox {
    font-size: 1.4rem;
    letter-spacing: 0.17px;
    line-height: 24px;
    color: #000000;
    text-align: center;
    width: 280px; }
  .main-info__header {
    font-size: 2.25rem;
    letter-spacing: 0.16px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 60px; }
  .situations__wrapper {
    position: relative;
    right: -70px; }
  .situations__header {
    font-size: 1.8rem;
    letter-spacing: 0.14px;
    line-height: 22px;
    text-align: center;
    width: 230px;
    margin: 0 auto;
    margin-bottom: 41px; }
  .situation__img img {
    width: 80px; }
  .situation__about {
    width: 267px;
    margin: 0 auto;
    margin-bottom: 18px; }
  .situation__problem {
    margin-right: unset; }
  .work-info__header {
    font-size: 2rem;
    letter-spacing: 0.16px;
    line-height: 24px; }
  .work-info__name {
    font-size: 1.6rem;
    letter-spacing: 0.27px;
    line-height: 32px; }
  .work-info__text {
    line-height: 22px; }
  .staff__wrapper {
    width: 300px; }
  .staff__header {
    font-size: 2rem;
    letter-spacing: 0.16px;
    line-height: 24px; }
  .staff__name {
    font-size: 1.6rem;
    letter-spacing: 0.27px;
    line-height: 32px; }
  .blog__wrapper {
    width: 300px; }
  .blog__info-wrapper {
    width: 255px; }
  .blog__text {
    font-size: 1.3rem;
    line-height: 16px;
    text-align: center; }
  .blog__card {
    width: 300px; }
  .blog__header {
    font-size: 2rem;
    letter-spacing: 0.16px;
    line-height: 24px;
    text-align: center; }
  .blog__name {
    font-size: 1.5rem;
    line-height: 18px;
    text-align: center; }
  .companies__header {
    font-size: 2rem;
    letter-spacing: 0.16px;
    line-height: 24px; } }
