@media screen and (max-width: 700px) {
  #map {
    height: 400px; }
  .content {
    width: unset; }
    .content__img {
      display: none; }
    .content__text {
      position: relative;
      top: 0px;
      left: 5px; }
  .connection__header {
    font-size: 1.8rem;
    letter-spacing: 0.14px;
    line-height: 22px;
    text-align: center; }
  .connection__wrapper {
    width: 240px;
    flex-direction: column;
    align-items: center; }
  .connection__link {
    font-size: 2rem;
    letter-spacing: 0.44px;
    line-height: 24px; }
  .connection__text {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.31px;
    line-height: 16px; }
  .connection__card {
    width: 218px;
    margin-bottom: 40px; }
    .connection__card:last-child {
      width: 223px;
      margin-bottom: unset; }
      .connection__card:last-child .connection__link {
        font-size: 18px;
        letter-spacing: 0.4px;
        line-height: 21px; }
      .connection__card:last-child img {
        margin-right: 40px; }
  .contacts-social {
    box-shadow: inset 0 -1px 0 0 #eaeaea; }
    .contacts-social__btns {
      flex-direction: column;
      align-items: center;
      width: 150px; }
    .contacts-social__link {
      margin-bottom: 20px; }
      .contacts-social__link:last-child {
        margin-bottom: unset; }
  .requisites {
    display: none; } }
