.header {
  position: fixed;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  top: 0;
  opacity: 1;
  transition: all 0.2s ease-in-out; }
  .header__icon {
    position: absolute;
    top: 28px;
    right: 15px;
    display: none;
    text-decoration: none;
    color: #000; }

.nav-up {
  top: -10rem; }
