.questions-box {
    &_hidden {
        display: none;
    }

    &__header {
        position: relative;
        font-family: Roboto;
        font-size: 1.6rem;
        letter-spacing: 0.36px;
        line-height: 19px;
        padding: 20px 35px;
        background-color: #F4F4F4;
        cursor: pointer;

        &:after {
            content: " ";
            position: absolute;
            display: block;
            width: 8px;
            height: 8px;
            top: 25px;
            right: 30px;
            border: 1px solid #000;

            border-left: none;
            border-top: none;
            transform: rotate(45deg);
            transition: transform 1s;
        }
    }

    &__dropdown {
        overflow: hidden;
        border: 1px solid #F4F4F4;
        max-height: 0;
        transition: max-height 1.5s;
    }

    &__text {
        font-size: 1.4rem;
        letter-spacing: 0.33px;
        line-height: 20px;
        padding: 23px 40px 27px 35px;
    }

    &__card {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: unset;
        }

        &_active {
            .questions-box__dropdown {
                max-height: 500px;
            }

            .questions-box__header {
                &:after {
                    transform: rotate(225deg);
                }
            }
        }
    }
}