.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 2.5rem 5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1340px;

    &__text {
        color: #1D1C1C;
        font-size: 1.4rem;
        letter-spacing: 0.25px;
        line-height: 17px;
        display: none;
        position: absolute;
        top: 7px;
        left: -40px;
    }

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        list-style: none;
        font-size: 1.4rem;
        letter-spacing: 0.22px;
        line-height: 19px;
        margin-right: 3rem;
    }

    &__link {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.3);

        &:hover {
            color: rgb(0, 0, 0);
            transition: 0.3s;
        }

        &_menu {
            color: rgb(0, 0, 0);
        }

        &_active {
            color: rgb(0, 0, 0);
        }
    }

    &__options {
        position: relative;

        & .main-nav__item:nth-of-type(2):after {
            content: "";
            display: block;
            position: absolute;
            width:1px;
            top: 0;
            left: -15px;
            height: 19px;
            background-color: rgba(0, 0, 0, 0.3);
        }
    }

    &__menu {
        margin-left: auto;
    }
}