.btn {
    border-radius: 4px;
    border: none;
    padding: 1.5rem 0;
    color: #fff;
    background-color: #8DC33E;
    width: 180px;
    text-align: center;
    
    &:hover {
        cursor: pointer;
    }

    &__main-nav {
        font-family: roboto;
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 0.2px;
        line-height: 20px;
        width: 180px;
    }

    &__main-info {
        font-size: 1.5rem;
        letter-spacing: 0.2px;
        line-height: 20px;
    }
}