.main-info {
    background-image: url(../img/about-us.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 89px 0 50px 0;
        width: 600px;
    }

    &__header {
        font-size: 3.5rem;
        letter-spacing: 0.23px;
        line-height: 47px;
        text-align: center;
        margin-bottom: 14px;
    }

    &__textbox {
        opacity: 0.9;
        color: #64697A;
        font-size: 1.8rem;
        letter-spacing: 0.23px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 69px;
    }
}